<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jukeboxd</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <h2 class="clickable-logo" onclick="redirectToHome()">
                <img src="../../public/pics/jukeboxdLogo.png" alt="logo" class="logo-img">
            </h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input id="searchInput"
                       type="search"
                       {{#if query.length}}
                            value="{{query}}"
                       {{else}}
                            placeholder="Search for a song or album......"
                       {{/if}}
                       aria-label="search for music">
<!--                       onkeydown="handleSearch(event)">-->
            </div>
            <div class="profile-tr">
                <div class="profile-photo">
                    <a href="/users/{{userInfo._id}}">
                        <img src="/public/pics/{{userInfo.profilePicture}}" alt="profile picture">
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Main Posts -->
    <main>
        <div class="container">
            <!-------------------------- Left Sidebar -------------------------->
            <div class="left">
                <a class="profile" href="/users/{{userInfo._id}}">
                    <div class="profile-photo">
                        <img src="/public/pics/{{userInfo.profilePicture}}" alt="profile picture">
                    </div>
                    <div class="handle">
                        <h4>{{userInfo.username}}</h4>
                    </div>
                </a>
                <div class="sidebar">
                    <h1 class="explore-header-left">
                        Explore Panel
                    </h1>
                    <a href="/home" class="menu-item active" onclick="toggleActiveClass(this)">
                        <span>
                            <i class="uil uil-home"></i>
                        </span>
                        <h3>
                            Home
                        </h3>
                    </a>
                    <a href="/music" class="menu-item" onclick="toggleActiveClass(this)">
                        <span>
                            <i class="uil uil-music"></i>
                        </span>
                        <h3>
                            All Music
                        </h3>
                    </a>
                    <a href="/music/recommendations" class="menu-item" onclick="toggleActiveClass(this)">
                        <span>
                            <i class="uil uil-bolt-alt"></i>
                        </span>
                        <h3>
                            Recommendations
                        </h3>
                    </a>
                    <a href="/posts" class="menu-item" onclick="toggleActiveClass(this)">
                        <span>
                            <i class="uil uil-globe"></i>
                        </span>
                        <h3>
                            Global Posts
                        </h3>
                    </a>
                    <a href="/logout" class="menu-item" onclick="toggleActiveClass(this)">
                        <span>
                            <i class="uil uil-sign-out-alt"></i>
                        </span>
                        <h3>
                            Logout
                        </h3>
                    </a>
                </div>
            </div>
            <!-------------------------- Main Content -------------------------->
            {{{body}}}

            <!-------------------------- Right Sidebar -------------------------->
            <div class="right">
                <div class="friends">
                    <!-- Search Bar -->
                    <div class="search-bar">
                        <i class="uil uil-search"></i>
<!--                        <label for="user-search">search...</label>-->
                        <input type="search" id="user-search" placeholder="search for a user..." aria-label="search for a user...">
                    </div>
                    <!-- Categories -->
                    <div class="category">
                        <h6 id="following-link" class="active">Following</h6>
                    </div>
                    <!-- Friends (will be dynamically populated) -->
                    <div id="friends-container">
                        {{#each userInfo.following}}
                            <a href="/users/{{this._id}}" class="friend">
                                <div class="profile-photo">
                                    <img src="/public/pics/{{this.profilePicture}}" alt="profile picture">
                                </div>
                                <div class="friend-body">
                                    <h5>{{this.username}}</h5>
                                </div>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        function handleSearch(event) {
            if (event.key === "Enter") {
                const userInput = document.getElementById('searchInput').value;
                const encodedInput = encodeURIComponent(userInput);
                window.location.href = `/music/search?piece=${encodedInput}`;
            }
        }
        // register my callback thingy to be triggered
        document.getElementById('searchInput').addEventListener('keydown', handleSearch);
    </script>
    <script>
        const redirectToHome = () => {
            window.location.href = `/home`;
        }
    </script>

    <script>
        const redirectToPost = (postId) => {
            window.location.href = `/posts/${postId}`;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/public/client.js"></script>
    <script src="/public/js/ajaxPost.js"></script>
</body>
</html>
