
<div class="middle">
    <div class="reg">
        <h3>
            Song: {{musicInfo.name}}
        </h3>
        <h3>
            Artist: {{musicInfo.artist}}
        </h3>
        <h3>
            Genre: {{musicInfo.genre}}
        </h3>
        <h3>
            Average Rating: {{musicInfo.avg}}
        </h3>

    </div>
    
    <div class="make-post">
        <form method="POST" id="post-form">
            <label for="content">
                Content:
            </label>
            <textarea name="content" id="content" placeholder="What's on your mind?"></textarea>
            <input id="content-input" type="hidden" name="piece_id" value="{{_id}}">
            <label for="rating">
                Rating:
            </label>
            <input type="number" name="rating" id="rating" min="1" max="5" value="1">
            <button type="submit" id="post-button">Post</button>
        </form>
    </div>

    <br>
    <div>
        <div class="middle">
            <div id="feed" class="feed">
                {{#each musicInfo.posts}}
                    <div class="post-1" onclick="redirectToPost('{{_id}}')">
                        <div class="top">
                            <div class="user">
                                <div class="profile-photo">
                                    {{#if profilePicture.length }}
                                        <img src="../../public/pics/{{profilePicture}}" alt="profile picture">
                                    {{else}}
                                        <img src="../../public/pics/defaultprofpic.jpeg" alt="profile picture">
                                    {{/if}}
                                </div>
                                <div class="info">
                                    <h3><a href="/users/{{user_id}}">{{username}}</a></h3>
                                    <small>{{date}}</small>
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <p>
                                {{content}}
                            </p>
                        </div>
                        <div class="rating">
                            <h4>Rating: {{rating}}/5</h4>
        <!--                    <div class="stars">-->
        <!--                        <i class="uil uil-star one-star fill"></i>-->
        <!--                        <i class="uil uil-star two-star"></i>-->
        <!--                        <i class="uil uil-star three-star"></i>-->
        <!--                        <i class="uil uil-star four-star"></i>-->
        <!--                        <i class="uil uil-star five star"></i>-->
        <!--                    </div>-->
                        </div>
<!--                        <div class="music" onclick="redirectToMusic('{{music_id}}')">-->
<!--                            <img src="../../public/pics/vinyl.webp" alt="vinyl" class="vinyl">-->
<!--                            <div class="music-song">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="interaction-buttons">
                            <span><i class="uil uil-heart"></i></span>
                            <span><i class="uil uil-comment-alt"></i></span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

