<!--res.render('users/userSingle', {userInfo: req.session.user, user: user, posts: userPosts, likes: likedPosts, owner: owner})-->

<div class="middle">
    <div class="feed">
        <div class="post-1-non-click">
            <div class="user-card">
                <img src="../../public/pics/banner.png" alt="profile banner" class="banner">
                <div class="profile-photo-container">
                    <div class="profile-photo-single-user">
                        <img src="/public/pics/{{user.profilePicture}}" alt="profile picture">
                    </div>
                </div>
                <div class="user-body">
                    <h3 class="username">{{user.username}}</h3>
                    <p>{{user.bio}}</p>
                    <div class="following-followers">
                        <a href="/users/{{user._id}}/following">{{user.following.length}} Following</a>
                        <a href="/users/{{user._id}}/followers">{{user.followers.length}} Followers</a>
                    </div>
                </div>

                <div class="edit-follow">
                    {{#if owner}}
                        <a href="/users/{{user._id}}/edit">Edit Profile</a>
                    {{else}}
                        <form id="followForm" action="/users/{{userId}}/follow" method="PATCH">
                            <button type="submit" id="followButton">
                                {{#if isFollowing}}
                                    Unfollow
                                {{else}}
                                    Follow
                                {{/if}}
                            </button>
                        </form>
                    {{/if}}
                </div>

                <div class="likes-button">
                    <button onclick=""redirectToLiked('{{user._id}}')"">Show Liked Posts</button>
                </div>
            </div>
        </div>
        <h1>User's Posts:</h1>
        <div class="posts">
            {{#if posts.length}}
                {{#each posts}}
                    <div class="post-1" onclick="redirectToPost('{{_id}}')">
                        <div class="top">
                            <div class="user">
                                <div class="info">
                                    <h3><a href="/users/{{user_id}}">{{username}}</a></h3>
                                    <small>{{date}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <p>
                                {{content}}
                            </p>
                        </div>
                        <div class="music">
                            <img src="../../public/pics/vinyl.webp" alt="vinyl" class="vinyl">
                            <div class="music-song">
                                <h3 class="song">{{piecename}}</h3>
                                <!--<h4 class="artist">Artist Name</h4>-->
                            </div>
                            <!--<h1>{{music_id}}</h1>-->
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h4>No posts yet!</h4>
            {{/if}}
        </div>
    </div>
</div>

<script>
    document.getElementById('followForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formAction = isFollowing ? `/users/{{userId}}/unfollow` : `/users/{{userId}}/follow`;
        this.action = formAction;

        this.submit();
    });
</script>

<script>
    const redirectToLiked = (userId) => {
        window.location.href = `/users/${userId}/likes`;
    }
</script>