<!--res.render('users/userSingle', {userInfo: req.session.user, user: user, posts: userPosts, likes: likedPosts, owner: owner})-->

<div class="middle">
    <div class="feed">
        <div class="post-1-non-click">
            <div class="user-card">
                <img src="../../public/pics/banner.png" alt="profile banner" class="banner">
                <div class="profile-photo-container">
                    <div class="profile-photo-single-user">
                        {{#if profilePicture.length }}
                            <img src="../../public/pics/{{profilePicture}}" alt="profile picture">
                        {{else}}
                            <img src="../../public/pics/defaultprofpic.jpeg" alt="profile picture">
                        {{/if}}
                    </div>
                </div>
                <div class="user-body">
                    <h3 class="username">{{user.username}}</h3>
                    <p>{{user.bio}}</p>
                    <div class="following-followers">
                        <a href="/users/{{user._id}}/following">{{user.following.length}} Following</a>
                        <a href="/users/{{user._id}}/followers">{{user.followers.length}} Followers</a>
                    </div>
                    
                </div>

                <h3>
                    {{#if owner}}
                        <a href="/users/edit">Edit Profile</a>
                    {{else}}
                        <button id="follow-unfollow-button">
                            Follow
                        </button>
                    {{/if}}
                </h3>
            </div>
            

        </div>
        
    </div>
</div>
