<!--res.render('users/userSingle', {userInfo: req.session.user, user: user, posts: userPosts, likes: likedPosts, owner: owner})-->

<div class="middle">
    <div class="feed">
        <div class="post-1-non-click">
            <div class="user-card">
                <img src="../../public/pics/banner.png" alt="profile banner" class="banner">
                <div class="profile-photo-container">
                    <div class="profile-photo-single-user">
                        {{#if profilePicture.length }}
                            <img src="../../public/pics/{{profilePicture}}" alt="profile picture">
                        {{else}}
                            <img src="../../public/pics/defaultprofpic.jpeg" alt="profile picture">
                        {{/if}}
                    </div>
                </div>
                <div class="user-body">
                    <h3 class="username">{{user.username}}</h3>
                    <p>{{user.bio}}</p>
                    <div class="following-followers">
                        <a href="/users/{{user._id}}/following">{{user.following.length}} Following</a>
                        <a href="/users/{{user._id}}/followers">{{user.followers.length}} Followers</a>
                    </div>
                </div>

                <div class="edit-follow">
                    {{#if owner}}
                        <a href="/users/{{user._id}}/edit">Edit Profile</a>
                    {{else}}
                        <form id="followForm" action="/users/{{userId}}/follow" method="PATCH">
                            <button type="submit" id="followButton">
                                {{#if isFollowing}}
                                    Unfollow
                                {{else}}
                                    Follow
                                {{/if}}
                            </button>
                        </form>
                    {{/if}}
                </div>

                <div class="likes-button">
                    <button onclick=""redirectToLiked('{{user._id}}')"">Show Liked Posts</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('followForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const formAction = isFollowing ? `/users/{{userId}}/unfollow` : `/users/{{userId}}/follow`;
        this.action = formAction;

        this.submit();
    });
</script>

<script>
    const redirectToLiked = (userId) => {
        window.location.href = `/users/${userId}/likes`;
    }
</script>