<!-- vars 
<section>
  <h1>Posts</h1>
  {{#each posts}}  
    <article class="post">
      <h2>{{username}}</h2>
      <p>{{date}}</p>
      <p>{{content}}</p>
      <p>{{rating}}</p>
      <p>{{piecename}}</p>
    </article>
  {{/each}}
</section>
-->

<!-- TODO: 
  - fix profile pics
  - rating stars
  - song name/artist
  - link make post
  - link like + comment
  - link profile
  - link load more comments
-->

<!-------------------------- Middle Stream -------------------------->
<div class="middle">
    {{#if subfeed}}
        <h2>{{feedname}}:</h2>
    {{/if}}
    <div class="feed">
        {{#each posts}}  
          <div class="post-1" onclick="redirectToPost('{{_id}}')">
            <div class="top">
                <div class="user" onclick="redirectToUser('{{user_id}}'); event.stopPropagation();">
                    <div class="profile-photo">
                        <img src="/public/pics/{{profilePicture}}" alt="profile picture">
                    </div>
                    <div class="info">
                        <h3>{{username}}</h3>
                        <small>{{date}}</small>
                    </div>

                </div>
            </div>
            <div class="content">
                <p>
                    {{content}}
                </p>
            </div>
            <div class="rating">
                <h4>Rating: </h4>
                <!--
                <div class="stars">
                    <i class="uil uil-star one-star fill"></i>
                    <i class="uil uil-star two-star"></i>
                    <i class="uil uil-star three-star"></i>
                    <i class="uil uil-star four-star"></i>
                    <i class="uil uil-star five star"></i>
                </div>
                -->
                {{rating}}
            </div>
            <div class="music" onclick="redirectToMusic('{{music_id}}'); event.stopPropagation();">
                <img src="../../public/pics/vinyl.webp" alt="vinyl" class="vinyl">
                <div class="music-song">
                    <h3 class="song">{{piecename}} - {{artist}}</h3>
                    <!--<h4 class="artist">Artist Name</h4>-->
<!--                    <h3>{{music_id}}</h3>-->
                </div>
                <!--<h1>{{music_id}}</h1>-->
            </div>
            <div class="interaction-buttons">
                <span>
                    {{likes.length}} Likes
                </span>
                <!-- this is the svg for a filled heart
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" id="heart-fill" width="25" height="25">
                    <path fill="#567486" d="M20.8,5.7c-2.1-2.8-6-3.4-8.8-1.3C9.5,2.5,6,2.8,3.8,5c-2.4,2.4-2.5,6.4,0,8.9l6.2,6.2c0.5,0.5,1.2,0.8,1.9,0.8c0.7,0,1.4-0.3,1.9-0.8l6.2-6.2C22.4,11.6,22.6,8.2,20.8,5.7z"></path></svg>
                -->
                <span>
                    {{comments.length}} Comments
                </span>
            </div>
            <!-- comments used to be here -->
          </div>
        {{/each}}
    </div>
</div>

<script>
    const redirectToMusic = (musicId) => {
        window.location.href = `/music/${musicId}`;
    }
</script>

<script>
    const redirectToUser = (userId) => {
        window.location.href = `/users/${userId}`;
    }
</script>

<script>
  const changeFillColor = (color) => {
    document.getElementById('heartPath').style.fill = color;
  }

  //changeFillColor('red');
</script>
 
