<!-- vars 
<section>
  <h1>Posts</h1>
  {{#each posts}}  
    <article class="post">
      <h2>{{username}}</h2>
      <p>{{date}}</p>
      <p>{{content}}</p>
      <p>{{rating}}</p>
      <p>{{piecename}}</p>
    </article>
  {{/each}}
</section>
-->

<!-- TODO: 
  - fix profile pics
  - rating stars
  - song name/artist
  - link make post
  - link like + comment
  - link profile
  - link load more comments
-->

<!-------------------------- Middle Stream -------------------------->
<div class="middle">
    <div class="feed">
        {{#each posts}}  
          <div class="post-1">
            <div class="top">
                <div class="user">
                    <div class="profile-photo">
                        <img src="../../public/pics/profpic.png" alt="profile picture">
                    </div>
                    <div class="info">
                        <h3>{{username}}</h3>
                        <small>{{date}}</small>
                    </div>

                </div>
            </div>
            <div class="content">
                <p>
                    {{content}}
                </p>
            </div>
            <div class="rating">
                <h4>Rating: </h4>
                <div class="stars">
                    <i class="uil uil-star one-star fill"></i>
                    <i class="uil uil-star two-star"></i>
                    <i class="uil uil-star three-star"></i>
                    <i class="uil uil-star four-star"></i>
                    <i class="uil uil-star five star"></i>
                </div>
            </div>
            <div class="music" onclick="redirectToMusic('{{music_id}}')">
                <img src="../../public/pics/vinyl.webp" alt="vinyl" class="vinyl">
                <div class="music-song">
                    <h3 class="song">{{piecename}}</h3>
                    <!--<h4 class="artist">Artist Name</h4>-->
                </div>
            </div>
            <div class="interaction-buttons">
                <span><i class="uil uil-heart"></i></span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="heart">
                    <path id="heartPath" fill="#567486" d="M20.16,5A6.29,6.29,0,0,0,12,4.36a6.27,6.27,0,0,0-8.16,9.48l6.21,6.22a2.78,2.78,0,0,0,3.9,0l6.21-6.22A6.27,6.27,0,0,0,20.16,5Zm-1.41,7.46-6.21,6.21a.76.76,0,0,1-1.08,0L5.25,12.43a4.29,4.29,0,0,1,0-6,4.27,4.27,0,0,1,6,0,1,1,0,0,0,1.42,0,4.27,4.27,0,0,1,6,0A4.29,4.29,0,0,1,18.75,12.43Z"></path>
                </svg>
                <span><i class="uil uil-comment-alt"></i></span>
            </div>
            <div class="comments">
                <h2 class="comment-head">Comments</h2>
                <div class="comment">
                    <i class="uil uil-corner-down-right"></i>
                    <div class="comment-no-arrow">
                        <div class="poster-content">
                            <div class="profile-photo">
                                <img src="./assets/profpic.png" alt="profile picture">
                            </div>
                            <h4>John Doe</h4>
                        </div>
                        <div class="comment-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <i class="uil uil-corner-down-right"></i>
                    <div class="comment-no-arrow">
                        <div class="poster-content">
                            <div class="profile-photo">
                                <img src="./assets/profpic.png" alt="profile picture">
                            </div>
                            <h4>John Doe</h4>
                        </div>
                        <div class="comment-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                    
                </div>
                <div class="comment">
                    <i class="uil uil-corner-down-right"></i>
                    <div class="comment-no-arrow">
                        <div class="poster-content">
                            <div class="profile-photo">
                                <img src="./assets/profpic.png" alt="profile picture">
                            </div>
                            <h4>John Doe</h4>
                        </div>
                        <div class="comment-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
                <h4 class="load-comments">Load more comments</h4>
            </div>
          </div>
        {{/each}}
    </div>
</div>

<script>
    function redirectToMusic(musicId) {
        // Use JavaScript to navigate to the desired URL
        window.location.href = `/music/${musicId}`;
    }
</script>
